Implementation of Market Basket Analysis.

In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\pratik\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\pratik\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\pratik\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\pratik\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\pratik\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\pratik\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pratik\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pratik\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pratik\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pratik\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\pratik\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.4 MB 653.6 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/1.4 MB 762.6 kB/s eta 0:00:02
   ---- ----------------------------------- 0.2/1.4 MB 984.6 kB/s eta 0:00:02
   ------ --------------------------------- 0.2/1.4 MB 1.1 MB/s eta 0:00:02
   --------- ------------------------------ 0.3/1.4 MB 1.4 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.4 MB 1.6 MB/s eta 0:00:01
   -------------- ------------------------- 0.5/1.4 MB 1.6 MB/s eta 0:00:01
   ----------------- ---------------------- 0.6/1.4 MB 1.6 MB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.4 MB 1.9 MB/s eta 0:00:01
   -------------------------- ------------- 1.0/1.4 MB 1.8 MB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.4 MB 1.9 MB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 1.9 MB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 1.9 MB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.4 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 1.9 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [19]:
df = pd.read_csv("Bakery.csv")
df.tail(10)

    Wine  Chips  Bread  Butter  Milk  Apple
11  Wine  Chips  Bread  Butter  Milk    NaN
12  Wine    NaN  Bread     NaN  Milk  Apple
13  Wine    NaN  Bread  Butter  Milk  Apple
14  Wine  Chips  Bread  Butter  Milk  Apple
15   NaN  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips    NaN  Butter  Milk  Apple
17  Wine  Chips  Bread  Butter  Milk  Apple
18  Wine    NaN  Bread  Butter  Milk  Apple
19  Wine  Chips  Bread     NaN  Milk  Apple
20   NaN  Chips    NaN     NaN   NaN    NaN

In [20]:
encoded_df = pd.get_dummies(df)
print(encoded_df)

    Wine_Wine  Chips_Chips  Bread_Bread  Butter_Butter  Milk_Milk  Apple_Apple
0        True        False         True           True       True        False
1       False        False         True           True       True        False
2       False         True        False          False      False         True
3        True         True         True           True       True         True
4        True         True        False          False       True        False
5        True         True         True           True      False         True
6        True         True        False          False       True        False
7        True        False         True          False      False         True
8        True        False         True           True       True        False
9       False         True         True           True      False         True
10       True        False        False           True       True         True
11       True         True         True           True       True        False
12       True        False         True          False       True         True
13       True        False         True           True       True         True
14       True         True         True           True       True         True
15      False         True         True           True       True         True
16      False         True        False           True       True         True
17       True         True         True           True       True         True
18       True        False         True           True       True         True
19       True         True         True          False       True         True
20      False         True        False          False      False        False

In [21]:
df.dropna(inplace=True) 
df

    Wine  Chips  Bread  Butter  Milk  Apple
3   Wine  Chips  Bread  Butter  Milk  Apple
14  Wine  Chips  Bread  Butter  Milk  Apple
17  Wine  Chips  Bread  Butter  Milk  Apple

In [22]:
encoded_data = pd.get_dummies(df, dtype=bool)
encoded_data

    Wine_Wine  Chips_Chips  Bread_Bread  Butter_Butter  Milk_Milk  Apple_Apple
3        True         True         True           True       True         True
14       True         True         True           True       True         True
17       True         True         True           True       True         True

In [23]:
encoded_data = encoded_data.astype(bool)

In [24]:
frequent_itemsets = fpgrowth (encoded_data, min_support=0.01, use_colnames=True)
frequent_itemsets

    support                                           itemsets
0       1.0                                      (Apple_Apple)
1       1.0                                        (Milk_Milk)
2       1.0                                    (Butter_Butter)
3       1.0                                      (Bread_Bread)
4       1.0                                      (Chips_Chips)
..      ...                                                ...
58      1.0  (Butter_Butter, Chips_Chips, Apple_Apple, Wine...
59      1.0  (Bread_Bread, Apple_Apple, Chips_Chips, Wine_W...
60      1.0  (Bread_Bread, Butter_Butter, Chips_Chips, Appl...
61      1.0  (Bread_Bread, Butter_Butter, Chips_Chips, Wine...
62      1.0  (Bread_Bread, Butter_Butter, Chips_Chips, Appl...

[63 rows x 2 columns]

In [25]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [26]:
print(rules.sort_values('lift', ascending=False).head(10))

                                   antecedents                   consequents  \
0                                (Apple_Apple)                   (Milk_Milk)
395  (Bread_Bread, Butter_Butter, Apple_Apple)        (Wine_Wine, Milk_Milk)
397    (Bread_Bread, Butter_Butter, Milk_Milk)      (Apple_Apple, Wine_Wine)
398      (Bread_Bread, Apple_Apple, Wine_Wine)    (Butter_Butter, Milk_Milk)
399      (Bread_Bread, Apple_Apple, Milk_Milk)    (Butter_Butter, Wine_Wine)
400        (Bread_Bread, Wine_Wine, Milk_Milk)  (Butter_Butter, Apple_Apple)
401    (Butter_Butter, Wine_Wine, Apple_Apple)      (Bread_Bread, Milk_Milk)
402    (Butter_Butter, Milk_Milk, Apple_Apple)      (Bread_Bread, Wine_Wine)
403      (Butter_Butter, Wine_Wine, Milk_Milk)    (Bread_Bread, Apple_Apple)
404        (Apple_Apple, Wine_Wine, Milk_Milk)  (Bread_Bread, Butter_Butter)

     antecedent support  consequent support  support  confidence  lift  \
0                   1.0                 1.0      1.0         1.0   1.0
395                 1.0                 1.0      1.0         1.0   1.0
397                 1.0                 1.0      1.0         1.0   1.0
398                 1.0                 1.0      1.0         1.0   1.0
399                 1.0                 1.0      1.0         1.0   1.0
400                 1.0                 1.0      1.0         1.0   1.0
401                 1.0                 1.0      1.0         1.0   1.0
402                 1.0                 1.0      1.0         1.0   1.0
403                 1.0                 1.0      1.0         1.0   1.0
404                 1.0                 1.0      1.0         1.0   1.0

     leverage  conviction  zhangs_metric
0         0.0         inf            0.0
395       0.0         inf            0.0
397       0.0         inf            0.0
398       0.0         inf            0.0
399       0.0         inf            0.0
400       0.0         inf            0.0
401       0.0         inf            0.0
402       0.0         inf            0.0
403       0.0         inf            0.0
404       0.0         inf            0.0